.innerbox{
    height: 540px;
    width: 500px;
    border: 2px solid black;
    border: none;
     background-color: #ccc;
    float: left;

}
.img{
    position: relative;
    left: 75px;
    float: left;
    top: 50px;
    height: 50px;
    width: 50px;
}
.para1{
    float: right;
    position: relative;
    top: 50px;
    position: relative;
    right: 280px;
    font-size: larger;
    font-family: sans-serif;
}
.seconddiv{
    float: left;
    position: relative;
    top: 120px;
    left: 25px;
    /* padding: 0 100px; */
    /* padding-top: 50px; */
}
.head{
    position: relative;
    bottom: 15px;
}
.none{
    width: 280px;
    border-radius: 2px;
    border: none;
    height: 24px;
}
.button{
    width: 285px;
    border-radius: 2px;
    border: none;
    height: 24px;
    color: white;
    background-color: tomato;

}
.thirddiv{
    height: 500px;
    width: 500px;
    
    border: 2px solid black;
    position: relative;
    top: 1px;
    left: 510px;
    border: none;

}
.pixel{
    position: relative;
    bottom: 251px;
    height: 385px;
    width: 354px;
    left: 100px;
    
}
.box{
    overflow: hidden;
}